<!DOCTYPE html>
<html>
    <head>
        <title>Mi sitio web</title>
    </head>
    <body>
        <ul id="navigation">
        {% for item in navigation %}
            <li><a href="{{ item.href }}">{{ item.caption }}</a></li>
        {% endfor %}
        </ul>
        <h1>{{ inline_js('main.js') }}</h1>
        <h1>{{ inline_css('main.css') }}</h1>
        <h1>{{ inline_img('main.png') }}</h1>
        <h1>Test-My Webpage</h1>
        {{ a_variable }}
    </body>
</html>