<!DOCTYPE html>
<html>
    <head>
        <title>Mi sitio web</title>
        
        {{ inline_css('example.css') }}
    </head>
    <body>
        <ul id="navigation">
        {% for item in navigation %}
            <li><a href="{{ item.href }}">{{ item.caption }}</a></li>
        {% endfor %}
        </ul>
        {{ inline_img('example.png') }}        
        <h1>Texto que pasamos en 'template_variable':</h1>
        <p>{{ template_variable }}</p>
        
        {{ inline_js('example.js') }}
    </body>    
</html>